//colors used in the page
$color-primary:#fdc84e;
$color-primary-thick:#fdb819;
$color-primary-darker:#e19e02;
$color-white:#FFFF;
$color-black:#111111; 
$color-highlight: #e4e4e4;
$color-dark-gray:#7d7d7d;
$color-darkest-gray:#1c1c1c;
