.arrow--button
{
    height: 3rem;
    width:3rem;
    border-radius: 50%;
    background-color: $color-white;
    color:$color-black;
    text-align: center;
    cursor: pointer;
    i 
    {
        margin-top: 1rem;
    }
}
.arrow--button:hover
{   
    background-color: $color-primary;
}