.features-bar
{
    margin: 2rem 0; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:23%;
    border: 1px solid $color-highlight;
    text-align: center;
    &__icon
    {
        font-size: 1.7rem;        
        margin: 0 auto;
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        padding: 1.5rem 1.5rem;
    }
    &__content
        {
            margin-bottom: 1.5rem;
            &__title
            {
                text-transform: capitalize;
                font-weight: 600;
                color: $color-black;
            }
            &__text
            {
                color: $color-dark-gray;
            }
        }
}
.icon-container
{
    margin-top: -2rem;
}